<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="soluvas-buzz.core"
      version="1.0.0"
      provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
      <import plugin="org.soluvas.commons" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated buzz-core -->
      <package
            uri="http://www.soluvas.org/schema/buzz-core/1.0"
            class="org.soluvas.buzz.core.BuzzCorePackage"
            genModel="src/main/resources/org/soluvas/buzz/core/buzz-core.genmodel"/>
   </extension>

</plugin>
